:root {
  --my-padding: 10px;
  --my-margin: 12px;
  --my-border-radius: 4px;
  --my-color-black: rgb(0, 0, 0);
  --my-color-whiteLight: rgb(255, 255, 255);
  --my-color-whiteDark: rgb(200, 200, 200);
  --my-color-booksLight: rgba(179, 160, 130, 0.8);
  --my-color-booksDark: rgb(54, 38, 31, 0.9);
  --my-color-booksGreen: rgba(0, 91, 76, 0.8);
  --my-color-red: rgb(230, 10, 10);
  --my-font-family: "Charm", cursive;
  --my-font-size-h1: clamp(24px, 4vw, 34px);
  --my-font-size-h3: clamp(16px, 2vw, 18px);
  --my-font-size-p: clamp(14px, 2vw, 16px);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: var(--my-font-family);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: min(100%, 1020px);
  min-height: 100vh;
  margin: 0px auto;
  background-image: url("../img/bookShelf.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-attachment: fixed;
  box-shadow: 0px 0px 7px 3px var(--my-color-booksDark);
}
main nav {
  width: 100%;
  background-color: var(--my-color-booksGreen);
  background-image: linear-gradient(90deg, var(--my-color-booksGreen) 0% 94%, var(--my-color-booksLight) 94% 96%, var(--my-color-booksDark) 96% 98%, var(--my-color-booksGreen) 98% 100%);
  box-shadow: 0px 0px 7px 2px var(--my-color-booksDark);
  border-block: 1px solid var(--my-color-booksDark);
  padding-block: var(--my-padding);
}
main nav h1 {
  font-size: var(--my-font-size-h1);
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0px 1px 1px var(--my-color-booksDark);
}
main nav h1 span {
  margin-inline: 1px;
}
main .addBookForm {
  width: 70%;
  background-color: var(--my-color-booksLight);
  border-radius: var(--my-border-radius);
  box-shadow: 0px 0px 5px 3px var(--my-color-booksDark);
  padding: calc(var(--my-padding) / 2) var(--my-padding) var(--my-padding);
}
main .addBookForm fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid var(--my-color-booksDark);
  border-radius: var(--my-border-radius);
  padding: calc(var(--my-padding) / 2) var(--my-padding) var(--my-padding);
}
main .addBookForm fieldset legend {
  color: var(--my-color-booksDark);
  font-size: var(--my-font-size-h3);
  font-weight: 700;
  text-shadow: 0px 1px 1px var(--my-color-whiteDark);
}
main .addBookForm fieldset label {
  color: var(--my-color-booksDark);
  font-size: var(--my-font-size-p);
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: auto;
  text-shadow: 0px 1px 1px var(--my-color-whiteDark);
}
main .addBookForm fieldset input {
  border-radius: var(--my-border-radius);
  border: 1px solid var(--my-color-booksDark);
  color: var(--my-color-booksGreen);
  font-size: var(--my-font-size-p);
  letter-spacing: 1px;
  padding: calc(var(--my-padding) - 4px) var(--my-padding);
  width: 90%;
  width: 100%;
  margin-bottom: var(--my-margin);
}
main .addBookForm fieldset input:focus {
  outline: 1px solid var(--my-color-booksDark);
}
main .addBookForm fieldset div {
  width: 100%;
  text-align: center;
}
main .addBookForm fieldset div input {
  color: var(--my-color-whiteLight);
  background-color: var(--my-color-booksGreen);
  border: none;
  border-radius: 4px;
  font-size: var(--my-font-size-p);
  text-shadow: 0px 1px 1px var(--my-color-booksDark);
  transition: transform 60ms linear, color 60ms linear, background-color 60ms linear;
  width: 90px;
  font-weight: 700;
}
main .addBookForm fieldset div input:hover {
  color: var(--my-color-booksGreen);
  background-color: var(--my-color-whiteLight);
}
main .addBookForm fieldset div input:active {
  color: var(--my-color-whiteLight);
  background-color: var(--my-color-booksGreen);
  transform: scale(0.95);
}
main .booksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 70%;
  background-color: var(--my-color-booksLight);
  border-radius: var(--my-border-radius);
  box-shadow: 0px 0px 5px 3px var(--my-color-booksDark);
  padding: 0px var(--my-padding) var(--my-padding);
}
main .booksContainer .findBookForm {
  width: 100%;
  border-radius: var(--my-border-radius);
  padding: calc(var(--my-padding) / 2) 0px var(--my-padding);
}
main .booksContainer .findBookForm fieldset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--my-color-booksDark);
  border-radius: var(--my-border-radius);
  padding: calc(var(--my-padding) / 2) var(--my-padding) var(--my-padding);
}
main .booksContainer .findBookForm fieldset legend {
  color: var(--my-color-booksDark);
  font-size: var(--my-font-size-h3);
  font-weight: 700;
  text-shadow: 0px 1px 1px var(--my-color-whiteDark);
}
main .booksContainer .findBookForm fieldset label {
  color: var(--my-color-booksDark);
  font-size: var(--my-font-size-p);
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: auto;
  text-shadow: 0px 1px 1px var(--my-color-whiteDark);
}
main .booksContainer .findBookForm fieldset input {
  border-radius: var(--my-border-radius);
  border: 1px solid var(--my-color-booksDark);
  color: var(--my-color-booksGreen);
  font-size: var(--my-font-size-p);
  letter-spacing: 1px;
  padding: calc(var(--my-padding) - 4px) var(--my-padding);
  width: 90%;
}
main .booksContainer .findBookForm fieldset input:focus {
  outline: 1px solid var(--my-color-booksDark);
}
main .booksContainer .findBookForm fieldset input:first-of-type {
  width: calc(100% - 80px);
}
main .booksContainer .findBookForm fieldset input:last-of-type {
  color: var(--my-color-whiteLight);
  background-color: var(--my-color-booksGreen);
  border: none;
  border-radius: 4px;
  font-size: var(--my-font-size-p);
  text-shadow: 0px 1px 1px var(--my-color-booksDark);
  transition: transform 60ms linear, color 60ms linear, background-color 60ms linear;
  width: 80px;
}
main .booksContainer .findBookForm fieldset input:last-of-type:hover {
  color: var(--my-color-booksGreen);
  background-color: var(--my-color-whiteLight);
}
main .booksContainer .findBookForm fieldset input:last-of-type:active {
  color: var(--my-color-whiteLight);
  background-color: var(--my-color-booksGreen);
  transform: scale(0.95);
}
main .booksContainer .booksContTop, main .booksContainer .books {
  width: 100%;
  border: 1px solid var(--my-color-booksDark);
  padding: var(--my-padding) calc(var(--my-padding) * 2);
  display: grid;
  grid-template-columns: repeat(3, 1fr) 60px;
  align-items: center;
}
main .booksContainer .booksContTop h3, main .booksContainer .books h3 {
  color: var(--my-color-booksDark);
  font-size: var(--my-font-size-h3);
  font-weight: 700;
  text-shadow: 0px 1px 1px var(--my-color-whiteDark);
}
main .booksContainer .books {
  border-top: none;
}
main .booksContainer .books p {
  color: var(--my-color-booksGreen);
  font-size: var(--my-font-size-p);
}
main .booksContainer .books button {
  justify-self: end;
  background-color: var(--my-color-booksGreen);
  border-radius: 4px;
  border: none;
  color: var(--my-color-whiteLight);
  width: 24px;
  height: 24px;
  transition: transform 70ms linear, color 70ms linear, background-color 70ms linear;
}
main .booksContainer .books button:hover {
  background-color: var(--my-color-whiteLight);
  color: var(--my-color-booksGreen);
  transform: scale(1.1);
}
main .booksContainer .books button:active {
  background-color: var(--my-color-red);
  color: var(--my-color-whiteLight);
  transform: scale(0.9);
}/*# sourceMappingURL=style.css.map */