@use "./modules/index.scss" as i;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: var(--my-font-family);
}

main {
    @include i.colFlex(start, center, 20px);
    width: min(100%, 1020px);
    min-height: 100vh;
    margin: 0px auto;
    background-image: url("../img/bookShelf.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    border-inline: 2px solid var(--my-color-booksDark);

    nav {
        width: 100%;
        background-color: var(--my-color-booksGreen);
        box-shadow: 0px 3px 7px 2px var(--my-color-booksDark);
        background-image: linear-gradient(90deg,
                var(--my-color-booksGreen) 0% 94%,
                var(--my-color-booksLight) 94% 96%,
                var(--my-color-booksDark) 96% 98%,
                var(--my-color-booksGreen) 98% 100%,
            );
        padding-block: var(--my-padding);
            

        h1 {
            font-size: var(--my-font-size-h1);
            text-align: center;
        }
    }

    .addBookForm {
        width: 70%;
        background-color: var(--my-color-booksLight);
        border-radius: var(--my-border-radius);
        box-shadow: 0px 0px 5px 3px var(--my-color-booksDark);
        padding: calc(var(--my-padding) / 2) var(--my-padding) var(--my-padding);

        fieldset {
            @include i.colFlex(center, center, 5px);
            @include i.fieldset;

            input {
                width: 100%;
                margin-bottom: var(--my-margin);
                color: var(--my-color-booksGreen);
                padding: calc(var(--my-padding) - 4px) var(--my-padding);

                &[name="submitButton"],
                &[name="resetButton"] {
                    @include i.button;
                    width: 100px;
                    font-weight: 600;
                }
            }
        }

    }

    .booksContainer {
        @include i.colFlex(center, center);
        width: 70%;
        background-color: var(--my-color-booksLight);
        border-radius: var(--my-border-radius);
        box-shadow: 0px 0px 5px 3px var(--my-color-booksDark);
        padding: calc(var(--my-padding) / 2) var(--my-padding) var(--my-padding);

        .findBookForm {
            width: 100%;
            border-radius: var(--my-border-radius);
            padding: calc(var(--my-padding) / 2) 0px var(--my-padding);

            fieldset {
                @include i.rowFlex(center, center, 10px);
                @include i.fieldset;

                input {
                    color: var(--my-color-booksDark);
                    padding: calc(var(--my-padding) / 5) var(--my-padding);

                    &:first-of-type {
                        width: 90%;
                    }

                    &:last-of-type {
                        width: 10%;
                    }
                }
            }
        }


        .booksContTop {
            width: 100%;
            border: 1px solid var(--my-color-booksDark);
            padding: var(--my-padding) calc(var(--my-padding) * 2);
            display: grid;
            grid-template-columns: repeat(3, 1fr) 60px;
            align-items: center;

            h3 {
                color: var(--my-color-booksDark);
                font-size: var(--my-font-size-h3);
                font-weight: 600;
            }
        }

        .books {
            @extend .booksContTop;
            border-top: none;

            p {
                color: var(--my-color-booksGreen);
                font-size: var(--my-font-size-p);
            }

            button {
                @include i.xButton;
            }
        }
    }
}