@mixin xButton {
    justify-self: end;
    background-color: var(--my-color-booksGreen);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 3px 1px var(--my-color-booksDark);
    color: var(--my-color-whiteLight);
    width: clamp(16px, 2vw, 26px);
    aspect-ratio: 1;
    text-shadow: 0px 1px 1px var(--my-color-booksDark);
    transition:
        transform 70ms linear,
        color 70ms linear,
        background-color 70ms linear;

    &:hover {
        background-color: var(--my-color-whiteLight);
        color: var(--my-color-booksGreen);
        transform: scale(1.1);
    }


    &:active {
        background-color: var(--my-color-red);
        color: var(--my-color-whiteLight);
        transform: scale(0.9);
    }
}

@mixin button($color: var(--my-color-whiteLight), $background-color: var(--my-color-booksGreen)) {
    color: $color;
    background-color: $background-color;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px var(--my-color-booksDark);
    font-size: var(--my-font-size-p);
    text-shadow: 0px 1px 1px var(--my-color-booksDark);
    transition:
        transform 50ms linear,
        color 50ms linear,
        background-color 50ms linear;

    &:hover {
        color: $background-color;
        background-color: $color;
    }

    &:active {
        color: $color;
        background-color: $background-color;
        transform: scale(0.95);
    }
}