:root {
    // sizes
    --my-padding: 10px;
    --my-margin: 12px;
    --my-border-radius: 2px;
    // colors
    --my-color-black: rgb(0, 0, 0);
    --my-color-whiteLight: rgb(255, 255, 255);
    --my-color-booksLight: rgba(179, 160, 130, 0.9);
    --my-color-booksDark: rgb(54, 38, 31);
    --my-color-booksGreen: rgba(0, 91, 76, 0.9);
}